<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Freedom and the Cloud</title>

  </head>
  <body>

  <div class="reveal"><div class="slides">

    <section id="who-am-i-ibm">
      <h1>Who am I?</h1>
      <img style="float:right; margin-right:24pt" src="/images/ibm-logo.png"/>
      <p> Distinguished Engineer </p>
      <p> IBM Cloud </p>
    </section>

    <section id="who-am-i-openstack">
      <h1>Who am I?</h1>
      <img style="float:right; margin-right:24pt" src="/images/openstack-cloud-software-vertical-large.png" />
      <p>Foundation Board of Directors</p>
      <p>Developer Infrastructure Core Team</p>
      <p>Python Software Foudation Member</p>
    </section>

    <section id="what-are-we-going-to-talk-about" class="slide level2">
      <h1>Freedom</h1>
      <h3>Anybody value that?</h3>
    </section>

    <section class="slide level2">
      <img src="/images/braveheart.jpg" alt="Braveheart" />
    </section>

    <section class="slide level2">
      <h1>FDR's Four Freedoms</h1>
      <ul>
        <li>Freedom of speech</li>
        <li>Freedom of worship</li>
        <li>Freedom from want</li>
        <li>Freedom from fear</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>So, Richard Stallman bought a printer</h1>
    </section>

    <section class="slide level2">
      <h1>Free Software Foundation Four Freedoms</h1>
      <ul>
        <li>The freedom to run the program as you wish, for any purpose (freedom 0).</li>
        <li>The freedom to study how the program works, and change it so it does your computing as you wish (freedom 1).</li>
        <li>The freedom to redistribute copies so you can help your neighbor (freedom 2).</li>
        <li>The freedom to distribute copies of your modified versions to others (freedom 3)</li>
      </ul>
      <a href='http://www.gnu.org/philosophy/philosophy.en.html'>FSF Philosophy</a>
    </section>

    <section class="slide level2">
      <h1>Does regulated freedom limit or enhance freedom?</h1>
    </section>

    <section class="slide level2">
      <ul>
        <li>Anarchy</li>
        <li>Fuedalism</li>
        <li>Democracy</li>
        <li>Communism</li>
        <li>Dictatorship</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>Software Copyright Licenses</h1>
      <ul>
        <li>Public Domain</li>
        <li>Apache Software License</li>
        <li>GNU General Public License (GPL)</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>'Save Netflix'</h1>
      <p><a href='https://www.eff.org/deeplinks/2016/04/save-netflix'>
        https://www.eff.org/deeplinks/2016/04/save-netflix
      </a></p>
      <h3>DMCA</h3>
    </section>

    <section class="slide level2">
      <h1>Walled gardens</h1>
      <ul>
        <li>Free as in Freedom</li>
        <li>Free as in Beer</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>github and 'retard'</h1>
      <p><a href='https://github.com/nixxquality/WebMConverter/commit/c1ac0baac06fa7175677a4a1bf65860a84708d67'>https://github.com/nixxquality/WebMConverter/commit/c1ac0baac06fa7175677a4a1bf65860a84708d67</a></p>
    </section>

    <section class="slide level2">
      <h1>github and 'retard'</h1>
      <p> github has positioned themselves as 'essential' for development </p>
      <p> github's users are github's product </p>
    </section>

    <section class="slide level2">
      <h1>Nest</h1>
      <h3>Cloud-enabled thermostat</h3>
      <p><a href='https://twitter.com/CaseyNewton/status/717127794858156032'>https://twitter.com/CaseyNewton/status/717127794858156032</a></p>
      <p><a href='http://mashable.com/2016/04/04/revolv-smart-home-shutdown/#KU_vUiLqJPqn'>http://mashable.com/2016/04/04/revolv-smart-home-shutdown/#KU_vUiLqJPqn</a></p>
    </section>

    <section class="slide level2">
      <h1>The Cloud</h1>
      <h3>Aw, crap</h3>
    </section>

    <section class="slide level2">
      <h1>The Internet</h1>
      <blockquote>The goal was to exploit new computer technologies to meet the needs of military command and control against nuclear threats, achieve survivable control of US nuclear forces, and improve military tactical and management decision making</blockquote>
      <p>Fully distributed - no single point of attack</p>
    </section>

    <section class="slide level2">
      <h1>The Cloud</h1>
      <h3>Consolidation and ammortization of adminstration of computer resources</h3>
    </section>

    <section class="slide level2">
      <h1>IaaS</h1>
      <h3>Computers as a Service</h3>
      <ul>
        <li>Amazon Web Services, Google Compute Engine, Microsoft Azure</li>
        <li>OpenStack - Dreamhost, Vexxhost, OVH, Unitedstack, CityCloud</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>SaaS</h1>
      <h3>Stuff my mom might use</h3>
      <ul>
        <li>gmail</li>
        <li>Facebook</li>
        <li>iCloud</li>
        <li>github</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>The Cloud</h1>
      <h3>Re-centralization</h3>
    </section>

    <section class="slide level2">
      <h1>git v. github</h1>
      <ul>
        <li>git is a fully decentralized distributed version control system</li>
        <li>github 'makes it easier' by introducing a centralized cloud hosting
          system</li>
      </ul>
      <small>ps. github was down this morning</small>
    </section>

    <section class="slide level2">
      <h1>Shameless slide to justify to my employer that I'm here</h1>
      <h3>OpenStack vs. Amazon</h3>
      <ul>
        <li>Imagine you're a company in Germany</li>
        <li>Now imagine using a service run by Apple, Google or Amazon</li>
        <li>Now think about how that puts you in relationship to the FBI</li>
        <li>MAYBE the world being beholden to US shareholders isn't great</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>Is the ease of access an increase or decrease of freedom?</h1>
    </section>

    <section class="slide level2">
      <h1>What about when you want information to go away?</h1>
    </section>

    <section class="slide level2">
      <h1>Apple did not hack the iPhone - but they can</h1>
      <p>Your phone is connected to Apple's Cloud</p>
    </section>

    <section class="slide level2">
      <h1>Other people are not as competent as Apple</h1>
      <ul>
        <li>50 million turkish citizens data leak</li>
        <li>300 Hyatt hotels leaking credit card data</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>In the cloud, you are at the mercy of the choice of companies to be benevolent</h1>
    </section>

    <section class="slide level2">
      <blockquote>Why are we here? I think many people assume, wrongly, that a company
      exists solely to make money. Money is an important part of a company's
      existence, if the company is any good. But a result is not a cause. We
      have to go deeper and find the real reason for our being.</blockquote>
      <p>David Packard</p>
    </section>

    <section class="slide level2">
      <h1>redacted</h1>
    </section>

    <section class="slide level2">
      <h1>Companies are there to make money</h1>
    </section>

    <section class="slide level2">
      <h1>How do we manage and control of this</h1>
      <h2>Andrew's Leaf Quote</h2>
      <ul>
        <li>Don't use 'the cloud'</li>
        <li>Encryption</li>
        <li>tor project</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>The **redacted** Approach</h1>
      <ul>
        <li>No google account.</li>
        <li>No twitter. No facebook.</li>
        <li>No cloud services he can't run him self</li>
        <li>No annotated photos online</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>Encryption</h1>
      <ul>
        <li>Public Key Encryption</li>
        <li>"Something you have, and something you know"</li>
        <li>gpg</li>
        <li>Doesn't work in fully hosted services</li>
        <li>keybase.io</li>
      </ul>
    </section>

    <section class="slide level2">
      <h1>tor - the Jake Applebaum Approach</h1>
      <p>Tor was originally designed, implemented, and deployed as a third-generation onion routing project of the Naval Research Laboratory. It was originally developed with the U.S. Navy in mind, for the primary purpose of protecting government communications. Today, it is used every day for a wide variety of purposes by the military, journalists, law enforcement officers, activists, and many others.</p>
    </section>

    <section class="slide level2">
      <h1>redacted</h1>
    </section>

    <section class="slide level2">
      <h1>Serious question</h1>
      <ul>
        <li>twitter has helped communication during the Arab Spring</li>
        <li>github hosts tons of Open Government information</li>
        <li>Does the hosted enablement outweigh the centralization of power?
            How do we, as a society, regulate that power?</li>
      </ul>
    </section>

</body>
</html>
